<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="">
            <h2 class="text-center display-1">Erreur 404</h2>
            <p class="text-center">Oulala vous vous êtes perdu ?</p>
            <div class="d-flex justify-content-center">
                <a [routerLink]="[ '/home' ]" class="font-weight-bold text-capitalize text-dark px-3">
                    <button type="button" class="btn btn-outline-dark ">Go Home</button>
                </a>
            </div>
        </div>
    </div>
</div>